a {
    color: white;
}
/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url("img/bucin.jpg");
    background-size: cover; /* Menyesuaikan ukuran gambar latar belakang untuk mencakup seluruh body */
    background-repeat: no-repeat; /* Mencegah gambar latar belakang diulang */
}
